/*
Colors used:
white: #fbfbfb;
black: #171b27; rgba(23, 27, 39, 1)
accent/normal green: #8aff23;
accent/dark green: #6ECC1C;
accent/normal blue: #47F0FF;
*/

* {
    box-sizing: border-box;
  }

body {
    background-color: #fbfbfb;
    font-family: 'Archivo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #171b27;
}


h1 {
    /* font-size: 42px; */
    /* font-size: 2.625em; */
    font-weight: 700;
}

h2 {
    /* font-size: 33px; */
    font-size: 2.06em;
    font-weight: 700;
}

h3 {
    /* font-size: 26px; */
    font-size: 1.625em;
    font-weight: 700;
}

h4 {
    /* font-size: 20px; */
    font-size: 1.25em;
    font-weight: 700;
}

/* links */

a {
    color: #171b27;
    padding: 0 2px;
    font-weight: 600;
    text-decoration: underline;
}

a:focus,
a:hover {
    text-decoration: none;
    background: #8aff23;
    
}

a:active {
    text-decoration: none;
    background: #6ECC1C;
    
}

.logo {
    max-width: 250px;
    padding: 4px 8px;
    color:#fbfbfb;
    background-color:#171b27;
    font-size: 1em;    
    font-weight: 400;
    /* text-transform: uppercase; */
    text-decoration: none;
}

.img-link,
.img-link:hover {
    padding: none;
    background: none;
    border: none;
}

.button,
.button:visited {
    display: inline-block;
    background-color: #171b27;
    color:  #fbfbfb;
    font-weight: 400;
    text-decoration: none;
    padding: 8px 16px; 
    border: 2px solid #171b27;
    text-align: center;
    border-radius: 0px;
    transition: 0.2s opacity;
}

.button:focus,
.button:hover {
    background: #8aff23;
    color:#171b27;
    padding: 8px 16px;
    border: 2px solid #8aff23;
    font-weight: 600;
}

.button:active {
    background-color:#6ECC1C;
    color:#171b27;
    padding: 8px 16px;
    border: 2px solid #6ECC1C;
    font-weight: 600;
}

.button.secondary {
    background-color: transparent; 
    color: #171b27;
    border: 2px solid #171b27;
    font-weight: 600;
}

.button.secondary:focus,
.button.secondary:hover {
    background-color: #8aff23;
    border: 2px solid #8aff23;
}

.button.secondary:active {
    background-color: #6ECC1C;
    color: #171b27;
    border-color: #6ECC1C;
}

img {
    width: 100%;
}

/* layout styling */

.container {
    padding: 0 16px;
}

.row {
    margin: 24px 0;
}

#work .row {
    padding-bottom: 25px; 
    /* border-bottom: 1px solid rgba(23, 27, 39, 0.1); */
}

header{
    background-color: #fbfbfb;
    text-align: center;
    padding: 8px 0;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid rgba(23, 27, 39, 0.1);
    box-shadow: 0 4px 8px 0 rgba(23, 27, 39, 0.1), 0 4px 16px 0 rgba(23, 27, 39, 0.1);
}

nav {
    display: inline-block;
    width: 100%;
}

nav > ul {
    list-style-type: none;
    padding: 0;
}

nav > ul > li {
    display: inline-block;
}

nav > ul > li > a {
    padding: 0 8px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
}

/* 
nav > ul > li > a:hover,
nav > ul > li > a:focus,
nav > ul > li > a:active {

} */

main{
    padding-top: 80px;
}


#hero{
    display: inline-block;
    background-color: #fbfbfb;
    padding: 0;
    width: 100%;
}

/* .social-links {
display: inline-block;
}

.social-links > ul {
    list-style-type: none;
    padding: 0;
}

.social-links > ul > li {
    display: inline-block;
}

.social-links > ul > li > a > img {
    width: 24px;
} */


