/*

Colors used:

white: #f3f7fb; rgba(243, 247, 251, 1);
black: #1e2327; rgba(45, 54, 65, 1);
blue-dark grey 50%: #99b0c3; rgba(153, 176, 195, 1);
white-dark grey 25%: #e7f0f8; rgba(231, 240, 248, 1);
blue: #dbe9f4; rgba(219, 233, 244, 1);

accent red: #FF5A5F; rgba(255, 90, 95, 1.0); 
accent red 25%: #FFCECF; rgba(255, 206, 207, 1.0);
accent red dark: #7A0004; rgba(122, 0, 4, 1.0);


Typescale: augmented fourth ratio 1.414

*/


/* General and resets */

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0 auto;
  background-color: var(--white);
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  line-height: 1.8;
  color: var(--black);
}

/* Styling for layout */

.wrapper {
  width: 100%;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper--wide {
  width: 100%;
  max-width: 1920px;
  padding: 0 1rem;
}

.wrapper--narrow {
  width: 100%;
  padding: 0 1rem;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

div {
  font-size: 0;
}

/* Utility classes */

.center {
  text-align: center;
}

/* Color variables */

:root {
  --white: #f3f7fb;
  --white-dark: #e7f0f8;
  --black: #1e2327;
  --black-dark: #181c1f;
  --blue: #dbe9f4;
  --blue-dark: #99b0c3;
  --accent: #ff5a5f;
  --accent-dark: #7a0004;
}

/* Color styles */

.black-bg {
  background-color: var(--black);
  color: var(--blue-dark);
  font-weight: 350;
}

.black-bg-dark {
  background-color: var(--black-dark);
  color: var(--blue-dark);
  font-weight: 350;
}

.white-bg {
  background-color: var(--white);
  color: var(--black);
}

.blue-bg {
  background-color: var(--blue);
  color: var(--black);
}

.grey-bg {
  background-color: var(--white-dark);
  color: var(--black);
}

.h1-span {
  display: block;
  font-size: 3.998rem;
  font-family: "archivo", sans-serif;
  line-height: 1;
}

.h3-span {
  display: block;
  font-size: 1.999rem;
  font-family: "Archivo", sans-serif;
  text-transform: none;
  line-height: 1.5;
}

.h4-span {
  display: block;
  font-size: 1.414rem;
  font-family: "Archivo", sans-serif;
  text-transform: none;
  text-align: left;
  line-height: 1.5;
  padding-top: 2rem;
}

.body-span {
  display: block;
  font-size: 1rem;
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  text-transform: none;
  text-align: left;
  line-height: 1.8;
  padding-top: 2rem;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.body-span-nopad {
  padding-top: 0;
  display: block;
  font-size: 1rem;
  text-align: left;
  line-height: 1.8;
  margin-left: auto;
  margin-right: auto;
}

/* Headings mobile 320px */

h1,
h2,
h3,
h4 {
  font-family: "archivo", sans-serif;
  overflow-wrap: break-word;
  padding: 2rem 1rem;
  margin: 0;
  line-height: 1.45;
  text-align: center;
}

h1 {
  font-size: 3.998rem;
  text-align: left;
}

h2 {
  font-size: 2.827rem;
}

h3 {
  font-size: 1.999rem;
  font-family: "Archivo", sans-serif;
  text-transform: inherit;
}

h4 {
  font-size: 1.414rem;
  font-family: "Archivo", sans-serif;
  text-transform: inherit;
}

p {
  font-size: 1rem;
  margin: 0 0 1rem 0;
}

/* Styling for lists */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol {
  margin: 0;
  padding: 0 0 0 1rem;
  list-style-type: decimal;
  font-size: 1rem;
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;
}

/* Icons */

i,
.button i {
  padding: 0 8px 0 0;
}

/* Links */

a,
a:focus,
a:hover,
a:active,
a:visited {
  color: var(--black);
  padding: 2px 0;
  text-decoration: none;
  outline: none;
  font-weight: 500;
}

.button,
.button:hover,
.button:focus,
.button:active,
.button:visited,
.button-secondary,
.button-secondary:hover,
.button-secondary:focus,
.button-secondary:active,
.button-secondary:visited {
  display: inline-block;
  background-color: var(--black);
  color: var(--white);
  text-decoration: none;
  padding: 0.5rem 2rem;
  margin: 0.5rem auto 0.5rem auto;
  width: 100%;
  max-width: 18rem;
  max-height: 47px;
  border: 2px solid var(--white);
  text-align: center;
  border-radius: 40px;
  transition: 0.1s background-color;
  outline: none;
}

.button-secondary,
.button-secondary:hover,
.button-secondary:focus,
.button-secondary:active,
.button-secondary:visited {
  background-color: var(--white-dark);
  color: var(--black);
  padding: 0.4rem 1.5rem;
  border: 2px solid var(--blue-dark);
}

.button:hover {
  background-color: var(--accent);
}

.button-secondary:hover {
  background-color: var(--accent);
  color: var(--white);
  border-color: var(--white);
}

a:focus-visible,
.button:focus-visible,
.button-secondary:focus-visible {
  outline: #bfc8f8 solid 4px;
}

.button:active,
.button-secondary:active {
  background-color: var(--accent-dark);
  border-color: var(--white);
  color: var(--white);
}

/* Styling for images */

img {
  width: 100%;
  max-width: 45rem;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* styling for grids */

.grid-six {
  min-width: 0px;
  min-height: 0px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  padding: 0 1rem;
  grid-template-areas: "content content content content content content ";
}

.content-six {
  grid-area: content;
  width: 100%;
  max-width: 77.78rem;
}

/* styling for header */

header {
  height: auto;
  min-height: 44px;
  width: 100%;
  max-width: 1920px;
  position: fixed;
  top: 0;
  background-color: var(--white);
}

header div {
  font-size: 1rem;
}

header i {
  padding: 0;
  font-size: 1rem;
}

.hamburger-menu {
  width: 36px;
  height: 36px;
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
}

.navbar {
  width: 18rem;
  height: 100%;
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: -18rem;
  display: flex;
  justify-content: left;
  align-items: center;
  border-radius: 0 8px 8px 0;
  transition: left 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  box-shadow: 0 2px 4px 0 rgba(23, 27, 39, 0.1);
}

nav .fa-bars,
.change .fa-xmark {
  display: block;
}

nav .fa-xmark,
.change .fa-bars {
  display: none;
}

.change {
  left: 0;
}

.nav-item {
  width: 100%;
  margin: 1rem 1rem 1rem 2rem;
}

.nav-item a,
.nav-item a:hover,
.nav-item a:focus,
.nav-item a:active,
.nav-item a:visited {
  color: var(--black);
  font-size: 0.8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* Styling for textile-trans */

.textile-trans-img-1,
.textile-trans-img-2,
.textile-trans-img-3,
.textile-trans-img-4,
.textile-trans-img-5 {
  background-color: var(--white);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  height: 18rem;
}

.divider {
  width: 100%;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  height: 1rem;
  background-color: var(--white-dark);
}

.textile-trans-img-1 {
  background-image: url(../img/textile/anemone-bg-husky-min.png);
}

.textile-trans-img-2 {
  background-image: url(../img/textile/macrame-bg-ski-min.png);
}

.textile-trans-img-3 {
  background-image: url(../img/textile/fresco-bg-ski-drk-min.png);
}

.textile-trans-img-4 {
  background-image: url(../img/textile/airplane-bg-world-min.png);
}

.textile-trans-img-5 {
  background-image: url(../img/textile/tex-banner-min.png);
}

/* Styling for index */

/* Styling for index hero */

#hero {
  margin: 0;
}

#hero .buttons {
  margin: 1rem 0;
}

.hero-grid {
  grid-template-areas: "content content content content content content ";
  padding: 2rem 1rem;
}

.buttons {
  display: flex;
  width: 100%;
  font-size: 1rem;
}

.buttons ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.buttons ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

/* Styling for index about */

#about {
  padding: 0 0 2rem 0;
  border-top: none;
}

.about-grid {
  grid-template-areas:
    "about-text about-text about-text about-text about-text about-text"
    "about-button about-button about-button about-button about-button about-button";
}

.about-text {
  grid-area: about-text;
  width: 100%;
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
}

.about-button {
  grid-area: about-button;
  width: 100%;
  max-width: 18rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
}

/* Styling for index skills */

#skills {
  padding-bottom: 1rem;
}

#skills ul li::before {
  content: "\2022";
  color: var(--blue-dark);
  font-weight: bold;
  display: inline-block;
  width: 1rem;
  margin-left: 0;
}

#skills h3 {
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0;
}

#skills .h4-span {
  margin-top: 0;
  padding-top: 0;
  text-align: center;
}

.skills-grid {
  grid-template-areas:
    "content-UX content-UX content-UX content-UX content-UX content-UX"
    "content-visual content-visual content-visual content-visual content-visual content-visual"
    "content-tools content-tools content-tools content-tools content-tools content-tools";
}

.content-visual,
.content-UX,
.content-tools {
  font-size: 1rem;
  grid-area: content-visual;
  width: 100%;
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 4px 0 rgba(23, 27, 39, 0.1);
}

.content-UX {
  grid-area: content-UX;
}

.content-tools {
  grid-area: content-tools;
}

/* Styling for card */

.card {
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 4px 0 rgba(23, 27, 39, 0.1);
  max-width: 30rem;
}

.card-contents {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card img {
  flex: 1;
  object-fit: cover;
  height: 100%;
}

.card-txt-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card h4,
.card p {
  margin: 1rem;
}

.card h4 {
  padding: 0;
}

.card p {
  margin: 0 1rem 0 1rem;
}

.card-button {
  font-size: 1rem;
  width: 100%;
  padding: 1rem;
  margin-top: auto;
  display: flex;
  justify-content: center;
}

/* Styling for design */

.design-hero-grid {
  grid-template-areas: "design-hero-text design-hero-text design-hero-text design-hero-text design-hero-text design-hero-text";
}

.design-hero-text {
  grid-area: design-hero-text;
  width: 100%;
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
}

.citation-p {
  text-align: end;
}

#design-cards {
  padding: 1rem 0;
}

.cards-grid {
  grid-template-areas:
    "card1 card1 card1 card1 card1 card1"
    "card2 card2 card2 card2 card2 card2"
    "card3 card3 card3 card3 card3 card3"
    "card4 card4 card4 card4 card4 card4";
}

.card1 {
  grid-area: card1;
  width: 100%;
}

.card2 {
  grid-area: card2;
  width: 100%;
}

.card3 {
  grid-area: card3;
  width: 100%;
}

.card4 {
  grid-area: card4;
  width: 100%;
}

/* Styling for art section */

#art,
#art .section-hero {
  overflow: hidden;
}

.art-hero-grid {
  grid-template-areas: "art-hero-text art-hero-text art-hero-text art-hero-text art-hero-text art-hero-text";
}

.art-hero-text {
  grid-area: art-hero-text;
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-bottom: 2rem;
}

#art-cards {
  padding: 1rem 0;
}

#art-cards .card {
  box-shadow: 0 2px 4px 0 rgba(23, 27, 39, 0.5);
}

/* Styling for world */

.world-hero-grid {
  grid-template-areas: "world-hero-text world-hero-text world-hero-text world-hero-text world-hero-text world-hero-text";
}

.world-hero-text {
  grid-area: world-hero-text;
  width: 100%;
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
}

/* Styling for footer */

#footer div {
  font-size: 1rem;
}

.footer-hero-image {
  grid-area: footer-hero-image;
  width: 100%;
  margin-top: 1rem;
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
}

#footer a,
.black-bg a {
  color: var(--white);
  font-weight: 350;
}

#footer .buttons {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 18rem;
}

.copyright {
  padding: 1rem 0 0.5rem 0;
  text-align: center;
}

.copyright p {
  margin-bottom: 0;
  font-size: 0.75rem;
}

.sources {
  font-style: italic;
}

#footer p {
  margin-left: auto;
  margin-right: auto;
}

/* Styling for Project Pages */

/* Styling for Project Page Grids */

.project .hero-grid {
  padding-bottom: 0;
  grid-template-areas: "content content content content content content ";
}

.project-hero-img {
  padding-top: 2.5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.project-hero-img img,
.project-hero-img-top img,
.project-hero-img-reg img {
  width: 100%;
  height: auto;
  max-width: 60rem;
}

.project-hero-img-top {
  height: fit-content;
  display: flex;
  align-items: center;
}

.project-hero-img-reg {
  height: fit-content;
  line-height: 0;
}

.project-section-grid {
  padding-top: 0;
  padding-bottom: 0;
  grid-template-areas: "p-sec-grid-1 p-sec-grid-1 p-sec-grid-1 p-sec-grid-1 p-sec-grid-1 p-sec-grid-1";
}

.two-row-grid {
  padding: 0 1rem 1rem 1rem;
  grid-template-areas:
    "p-sec-grid-1 p-sec-grid-1 p-sec-grid-1 p-sec-grid-1 p-sec-grid-1 p-sec-grid-1"
    "p-sec-grid-2 p-sec-grid-2 p-sec-grid-2 p-sec-grid-2 p-sec-grid-2 p-sec-grid-2";
}

.three-row-grid {
  padding-top: 1rem;
  grid-template-areas:
    "p-sec-grid-1 p-sec-grid-1 p-sec-grid-1 p-sec-grid-1 p-sec-grid-1 p-sec-grid-1"
    "p-sec-grid-2 p-sec-grid-2 p-sec-grid-2 p-sec-grid-2 p-sec-grid-2 p-sec-grid-2"
    "p-sec-grid-3 p-sec-grid-3 p-sec-grid-3 p-sec-grid-3 p-sec-grid-3 p-sec-grid-3";
}

.four-row-grid {
  padding: 0 1rem 1rem 1rem;
  grid-template-areas:
    "p-sec-grid-1 p-sec-grid-1 p-sec-grid-1 p-sec-grid-1 p-sec-grid-1 p-sec-grid-1"
    "p-sec-grid-2 p-sec-grid-2 p-sec-grid-2 p-sec-grid-2 p-sec-grid-2 p-sec-grid-2"
    "p-sec-grid-3 p-sec-grid-3 p-sec-grid-3 p-sec-grid-3 p-sec-grid-3 p-sec-grid-3"
    "p-sec-grid-4 p-sec-grid-4 p-sec-grid-4 p-sec-grid-4 p-sec-grid-4 p-sec-grid-4";
}

.five-row-grid {
  grid-template-areas:
    "p-sec-grid-2 p-sec-grid-2 p-sec-grid-2 p-sec-grid-2 p-sec-grid-2 p-sec-grid-2"
    "p-sec-grid-1 p-sec-grid-1 p-sec-grid-1 p-sec-grid-1 p-sec-grid-1 p-sec-grid-1"
    "p-sec-grid-3 p-sec-grid-3 p-sec-grid-3 p-sec-grid-3 p-sec-grid-3 p-sec-grid-3"
    "p-sec-grid-4 p-sec-grid-4 p-sec-grid-4 p-sec-grid-4 p-sec-grid-4 p-sec-grid-4"
    "p-sec-grid-5 p-sec-grid-5 p-sec-grid-5 p-sec-grid-5 p-sec-grid-5 p-sec-grid-5";
}

.p-sec-grid-1 {
  grid-area: p-sec-grid-1;
}

.p-sec-grid-2 {
  grid-area: p-sec-grid-2;
}

.p-sec-grid-3 {
  grid-area: p-sec-grid-3;
}

.p-sec-grid-4 {
  grid-area: p-sec-grid-4;
}

.p-sec-grid-5 {
  grid-area: p-sec-grid-5;
}

.pros-grid {
  grid-template-areas:
    "pros-1 pros-1 pros-1 pros-1 pros-1 pros-1"
    "pros-2 pros-2 pros-2 pros-2 pros-2 pros-2"
    "pros-3 pros-3 pros-3 pros-3 pros-3 pros-3";
}

.pros-2,
.pros-1,
.pros-3 {
  grid-area: pros-2;
  width: 100%;
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.pros-1 {
  grid-area: pros-1;
}

.pros-3 {
  grid-area: pros-3;
}

/* Styling for Projects */

.project h2 {
  padding: 4rem 0;
}

.project p {
  padding: 0 0 1rem 0;
  margin: 0;
}

.project .card p {
  padding: 0 1rem;
}

.specs .pros-grid {
  padding: 2rem 1rem;
}

.comps .pros-grid {
  padding-bottom: 1rem;
}

.p-sec-grid-1,
.p-sec-grid-2,
.p-sec-grid-3,
.p-sec-grid-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comps img {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

/* Styling for Zen Project Page */

#zen h1 {
  font-size: 3.6rem;
}

#zen .prototype .two-row-grid {
  gap: 1rem;
  padding: 1rem;
}

#zen .prototype .buttons {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

#zen .prototype .buttons .button,
#zen .prototype .buttons .button-secondary {
  margin: 0 0 1rem 0;
}

#zen .prototype .buttons li {
  align-items: center;
}

.pro-card {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

/* media queries */

@media only screen and (min-width: 640px) {
  /* @media only screen and (min-width: 640px) styling for layout */

  .wrapper--narrow {
    width: 100%;
    padding: 0 2rem;
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
  }

  html {
    font-size: 18px;
  }

  img,
  #hero h1,
  .about-image,
  .about-text,
  .about-button,
  .design-hero-image,
  .design-hero-text,
  .art-hero-image,
  .art-hero-text,
  .world-hero-image,
  .world-hero-text {
    max-width: 40rem;
  }

  /* @media only screen and (min-width: 640px) styling for header */

  header {
    display: flex;
    align-items: center;
    justify-content: end;
    border-radius: 0;
  }

  .hamburger-menu {
    display: none;
  }

  .navbar {
    background-color: transparent;
    width: 100%;
    height: auto;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    top: 50%;
    left: 0;
  }

  nav .fa-bars,
  .change .fa-xmark {
    display: none;
  }

  .nav-list {
    display: flex;
    align-items: center;
  }

  .nav-item {
    width: auto;
    margin: 0 1rem 0 0;
  }

  /* Media 640 styling for hero  */

  #hero .buttons {
    max-width: 40rem;
    padding-left: 1rem;
  }

  #hero .buttons ul,
  #zen .prototype .buttons ul {
    display: flex;
    flex-direction: row;
    justify-content: left;
  }

  #hero .buttons ul li {
    width: 100%;
    margin-right: 1rem;
  }

  /* Media 640 styling for about  */

  .about-grid {
    grid-template-areas:
      "about-text about-text about-text about-text about-text about-text"
      ". about-button about-button about-button about-button .";
  }

  .about-text,
  .about-button {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 30rem;
  }

  .about-button {
    display: flex;
    justify-content: center;
  }

  /* Media 640 styling for skills  */

  #skills {
    padding-bottom: 2rem;
  }

  .skills-grid {
    grid-template-areas:
      "content-UX content-UX content-UX content-visual content-visual content-visual"
      "content-tools content-tools content-tools . . .";
  }

  .content-UX,
  .content-visual,
  .content-tools {
    max-width: 30rem;
  }

  /* Media 640 styling for grid-six  */

  .grid-six {
    gap: 2rem;
  }

  /* Media 640 styling for design  */

  #design {
    overflow: hidden;
  }

  .design-hero-grid {
    grid-template-areas: "design-hero-text design-hero-text design-hero-text design-hero-text design-hero-text design-hero-text";
  }

  .design-hero-text {
    max-width: 30rem;
  }

  .cards-grid {
    grid-template-areas:
      "card1 card1 card1 card1 card1 card1"
      "card2 card2 card2 card2 card2 card2"
      "card3 card3 card3 card3 card3 card3"
      "card4 card4 card4 card4 card4 card4";
  }

  /* Media 640 styling for art */

  #art {
    overflow: hidden;
  }

  .art-hero-grid {
    grid-template-areas: "art-hero-text art-hero-text art-hero-text art-hero-text art-hero-text art-hero-text";
  }

  /* Media 640 styling for world */

  .world-hero-grid {
    grid-template-areas: "world-hero-text world-hero-text world-hero-text world-hero-text world-hero-text world-hero-text";
  }

  /* Media 640 styling for Projects */

  .project h2,
  .project h3 {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }

  .comps .pros-grid {
    padding: 0 2rem 2rem 2rem;
  }

  .process {
    padding-bottom: 1rem;
  }

  .showcase img {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
  }

  .showcase .img-sm {
    max-width: 30rem;
  }

  /* media 640 styling for Zen project */

  #zen h1 {
    font-size: 3.998rem;
  }

  #zen .prototype .buttons .button,
  #zen .prototype .buttons .button-secondary {
    max-width: 90%;
  }

  #zen .prototype .buttons li {
    align-items: center;
  }

  .saduser {
    padding: 2rem;
  }

  .saduser .p-sec-grid-1,
  .saduser .p-sec-grid-2,
  .saduser .p-sec-grid-3,
  .saduser .p-sec-grid-4 {
    display: flex;
    justify-content: center;
  }

  .saduser img {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1024px) {

  /* Media 1024 styling for textile-trans */

  .textile-trans-img-1,
  .textile-trans-img-2,
  .textile-trans-img-3,
  .textile-trans-img-4,
  .textile-trans-img-5 {
    height: 44rem;
  }

  /* Media 1024 styling for hero */

  #hero h1 {
    padding-top: 7rem;
  }

  #hero .buttons {
    margin-bottom: 3rem;
  }

  #hero .buttons .button-secondary {
    margin-left: 1rem;
  }

  /* Media 1024 styling for grids */

  .grid-six {
    gap: 3rem;
    padding: 0 3rem;
  }

  /* Media 1024 styling for about */

  #hero,
  #about {
    margin: 0;
  }

  #hero h1 {
    max-width: 40rem;
  }

  #about {
    padding-bottom: 2rem;
  }

  .about-grid {
    grid-template-areas:
      ". about-text about-text about-text about-text ."
      ". about-button about-button about-button about-button .";
  }

  .about-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 40rem;
  }

  .about-text p {
    margin-bottom: 0;
  }

  #about .button-secondary {
    max-width: fit-content;
  }

  /* Media 1024 styling for skills */

  .skills-grid {
    grid-template-areas: "content-UX content-UX content-visual content-visual content-tools content-tools";
  }

  /* Media 1024 styling for design */

  .design-hero-grid {
    grid-template-areas: ". design-hero-text design-hero-text design-hero-text design-hero-text .";
  }

  .design-hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40rem;
  }

  .card {
    max-width: 40rem;
  }

  .cards-grid {
    margin: 2rem 0 3rem 0;
    grid-template-areas:
      "card1 card1 card1 card2 card2 card2"
      "card3 card3 card3 card4 card4 card4";
  }

  /* Media 1024 styling for art */

  .art-hero-grid {
    grid-template-areas: ". art-hero-text art-hero-text art-hero-text art-hero-text .";
  }

  .art-hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40rem;
  }

  /* Media 1024 styling for world */

  .world-hero-grid {
    grid-template-areas: ". world-hero-text world-hero-text world-hero-text world-hero-text .";
  }

  .world-hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40rem;
  }

  /* Media 1024 styling for projects */

  .pros-grid {
    grid-template-areas: "pros-1 pros-1 pros-2 pros-2 pros-3 pros-3";
  }

  .specs .pros-grid {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
  }

  .comps .pros-grid {
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
  }

  .three-cards-grid {
    grid-template-areas: "card1 card1 card2 card2 card3 card3";
    gap: 1rem;
  }

  /* Media 1024 styling for Zen project */
}

@media only screen and (min-width: 1440px) {
  img,
  #hero h1,
  #hero .buttons ul,
  .about-image,
  .about-text,
  .about-button,
  .design-hero-image,
  .design-hero-text,
  .art-hero-image,
  .art-hero-text,
  .world-hero-image,
  .world-hero-text {
    max-width: 40rem;
  }

  /* Media 1440 styling for skills */

  #skills {
    padding-bottom: 4rem;
  }

  /* Media 1440 styling for grids */

  /* Media 1440 styling for cards grid */

  .cards-grid {
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    grid-template-areas: "card1 card1 card1 card2 card2 card2 card3 card3 card3 card4 card4 card4";
  }

  .three-cards-grid {
    grid-template-areas: "card1 card1 card1 card1 card2 card2 card2 card2 card3 card3 card3 card3";
  }

  /* Media 1440 styling for footer */

  .footer-hero-image,
  .footer-hero-text {
    max-width: 40rem;
  }

  #footer .buttons .button {
    max-width: 18rem;
  }

  /* Media 1440 styling for projects */

  /* media 1440 styling for Zen project */
}
