/*
Colors used:
white: #fbfbfb;
black: #171b27;
accent/normal: #8aff23;
accent/dark: #6ECC1C
*/

body {
    background-color: #fbfbfb;
    font-family: 'Archivo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #171b27;
}


h1 {
    font-size: 2.625em;
    font-weight: 700;
}

h2 {
    font-size: 2.06em;
    font-weight: 700;
}

h3 {
    font-size: 1.625em;
    font-weight: 700;
}

h4 {
    font-size: 1.25em;
    font-weight: 700;
}


a:link,
a:visited {
    color: #171b27;
}

a:focus,
a:hover {
    text-decoration: none;
    background: #8aff23;
    padding: 2px 4px;
}

a:active {
    text-decoration: none;
    background: #6ECC1C;
    padding: 2px 4px;
}


.button,
.button:visited {
    display: inline-block;
    background-color: #171b27;
    color:  #fbfbfb;
    font-weight: 400;
    text-decoration: none;
    padding: 8px 16px; 
    border: 2px solid #171b27;
    text-align: center;
    border-radius: 0px;
    transition: 0.2s opacity;
}

.button:focus,
.button:hover {
    background: #8aff23;
    color:#171b27;
    padding: 8px 16px;
    border: 2px solid #8aff23;
    font-weight: 600;
}

.button:active {
    background-color:#6ECC1C;
    color:#171b27;
    padding: 8px 16px;
    border: 2px solid #6ECC1C;
    font-weight: 600;
}


.button.secondary {
    background-color: transparent; 
    color: #171b27;
    border: 2px solid #171b27;
    font-weight: 600;
}

.button.secondary:focus,
.button.secondary:hover {
    background-color: #8aff23;
    border: 2px solid #8aff23;
}

.button.secondary:active {
    background-color: #6ECC1C;
    color: #171b27;
    border-color: #6ECC1C;
}

img {
    width: 100%;
}